name: Code Quality Check
on: [push]
jobs:
    code-quality-check:
        name: Code Quality Check
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
              with:
                  node-version: 20
                  cache: 'npm'
            - run: npm ci
            - run: npm run ts:check
            - run: npm run lint
